.movieList {
  position: relative;
  overflow:hidden;
}

.movieList > img{
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.movieList:hover .overlay {
  opacity: 1;
}

.test {
  position:absolute;
  top: -50px;
  display:flex;
  justify-self: center;
  transition: 0.5s ease;

}

.movieList:hover .test {
  top: 0px;
}

.bottom--panel {
  position: absolute;
  bottom: 0;
  background: white;
  width:100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.movieInfo {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}