.movieList {
  position: relative;
  overflow:hidden;
}

.movieList > img{
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
  margin: 0 auto;
  text-align:center;  
}

.movieList:hover .overlay {
  opacity: 1;
}

.watchButton {
  position:absolute;
  top: -50px;
  display:flex;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  display:flex;
  justify-self: center;
  text-align:center;
  transition: all 0.5s ease;
  border-radius: 50%;
  justify-content: center;
  text-align:center;
  align-items:center;
  background-color: transparent;
  border: 2px dashed  white;
  left: 35px;
}

.badge {
  opacity: 0;
  transition: all 1.5s ease;
}

.movieList:hover .badge {
  opacity: 1;
}

.movieList:hover .watchButton {
  display:flex;
  top: 100px;
  margin: 0 auto;
}

.bottom--panel {
  position: absolute;
  bottom: 0;
  background-color: rgb(43, 43, 43);
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height:24px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.movieInfo {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}