.movieheadline {
  position: relative;
  top: -70px;
  height: 50px;
  width: 100%;
  max-width: calc(100% - 10px);
  background: rgba(0, 0, 0, 0.6);
  margin: 0px 5px;
  /* display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; */
  font-size: 25px;

}

.movieheadline>*:nth-child(1) {
  /* padding: 0 0 0 10px; */
  display: flex;
  align-items: center;
}

.movieheadline>*:nth-child(2) {
  /* padding: 0 10px 0 0; */
  display: flex;
  align-items: center;
}

.movieStar {
  top: 25px;
  margin: 0 5px;
  padding: 0 10px;
  position: absolute;
}

.score {
  position: relative;
  left: -50px;
  top: 5px;
  color: white;
  font-weight: bold;
}


@media (min-width: 768px) {
  .movieheadline {
    font-size: 12px;
  }

  .movieheadline>*:nth-child(1) {
    padding: 0 0 0 10px;

  }
  
  .movieheadline>*:nth-child(2) {
    padding: 0 10px 0 0;
  }
}

@media (min-width: 992px) {
  .movieheadline {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .movieheadline {
    font-size: 20px;
  }
}