.movie--details--review--post {
    margin-bottom: .5rem;
}

.movie--details--review--list--item{
    display:flex;
}

.movie--details--review--list--item--thumbnail {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin: .5rem 2rem .5rem 0;
}

.movie--details--review--list--item--reviewer {
    width: 100%;
}

.movie--details--review--list--item--reviewer--head {
    display: flex;
    justify-content: space-between;
}

.movie--details--review--list--item--reviewer--head--rate {
    display: flex;
    justify-self: flex-end;
}

.movie--details--review--post--action {
    display: flex;
    
}

.movie--details--review--list--item--reviewer--body {
    text-align: justify;
}

.textBox {
    width : 70%
}

@media(max-width:1280px){
    .textBox {
        width : 100%
    }

    .circleE {
        width: 100px;
    }
}

@media(max-width:575px){
    .textBox {
        width : 78%
    }
}

@media(max-width:505px){
    .textBox {
        width : 74%
    }
}

@media(max-width:455px){
    .textBox {
        width : 70%
    }
}

@media(max-width:400px){
    .textBox {
        width : 60%;
    }
}

@media(max-width:370px){
    .textBox {
        width : 60%;
    }
}

@media(max-width:320px){
    .textBox {
        width : 180px;
    }

}

